<div class="container">
  <ol class="breadcrumb">
    <li>
      <a [routerLink]="['/contact']">Login Information</a>
    </li>
    <li class="active">Subscription</li>
    <li class="disabled">Review</li>
  </ol>
  <div class="container">
    <form class="form-horizontal" [formGroup]="form">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          Select your subscription level:
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <div class="radio">
            <label>
              <input formControlName="subscription" type="radio" name="subscription" id="subscriptionRadios1" value="Basic $1.99"> Basic $1.99
            </label>
          </div>
          <div class="radio">
            <label>
              <input formControlName="subscription" type="radio" name="subscription" id="subscriptionRadios2" value="Mid $5.99"> Mid $5.99
            </label>
          </div>
          <div class="radio">
            <label>
              <input formControlName="subscription" type="radio" name="subscription" id="subscriptionRadios3" value="VIP $12.99"> VIP $12.99
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
          <button (click)="prev($event)" class="btn btn-default pull-left">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Prev
          </button>
          <button [disabled]="!form.valid" (click)="next($event)" class="btn btn-primary pull-right">Next
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
